*{
    margin: 0%;
}

/* website font input */

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Header design */

.header{
    padding: 20px 50px;
    }
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.first{
    width: 150px;
    height: auto;
}

/* Button design */

.button {
    background-color: #00B7FC;
    color: aliceblue;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}
.button a {
    background-color: transparent;
    color: aliceblue;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.main1 :hover{
    background-color: #0C203B;
    transform: translateY(-3px);
}

.section-one{
            background-image: url(images/Hero-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            padding-top: 250px;
            padding-bottom: 150px;
            margin-top: -200px;
}

  /* Hero Section Full Design  */

.heading-one{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 30px;
}

.button-style{
    background-color: #00B7FC;
    color: aliceblue;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button-style a {
    background-color: transparent;
    color: aliceblue;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.button-two :hover{
    background-color: #0C203B;
    transform: translateX(-3px);
}

.section-two{
    margin: 100px 0px;
}
.container-two{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.heading-two{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #252432;
    padding-bottom: 10px;
}

.pera-two{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #252432;
    font-weight: 300;
    padding-bottom: 15px;
}

    /* Second section full design */

.button-three{    
    background-color: #00B7FC;
    color: aliceblue;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button-three a{
    background-color: transparent;
    color: aliceblue;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.button-style-two :hover{
    background-color: #0C203B;
    transform: translateY(+3px);
}
.colum-two img{
    border-radius: 20px;
}

/* three section design */
.container-three {
    background-color: #e5e7ff;
    padding: 40px 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 20px;   
}
.heading-three{
    padding: 30px 30px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 600px;
    color:#252432;
}
.colum-three-users{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7ff;
    gap: 90px;
}
.heading-four {
    color: #4e47ff;
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 600px;
}
.heading-five{
    color: #92939c;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight:400;
}

/* four section design */

.section-four{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
.title {
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 600px;
    text-align: center;
    padding: 20px 0px;
}
.testimonials-column-three{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin-top: 30px;
}
.one{
    background-color: #f3f3f3;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px; 
    width: 500px;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
}
.rating {
    color: #ffc024;
    padding: 15px 0px;
}
.testimonials-title{
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
}

.testimonials-description{
    background-color: transparent;
    color: #92939c;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
}
.customer-details {
    display: flex;
    gap: 20px;
    background-color: #f3f3f3;
    position: relative;
    z-index: 13px;
}
.customer-image {
    background-color: #f3f3f3;
    position: relative;
    z-index: 13px;
}
.customer-image img{
    border-radius: 100px;
}
.customer-bio{
    background-color: #f3f3f3;
    position: relative;
    z-index: 13px;
    padding-bottom: 15px;
}
.customer-name{
    background-color: #f3f3f3;
    color: #757575;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 300px;
    padding-bottom: 5px;
}
.customer-designation{
    background-color: #f3f3f3;
    color: #b4b5be;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 300px;
    padding-bottom: 10px;
}

/* five section design */



